<template>
  <v-container fluid class="grey lighten-5 bg-black">
    <v-row class="mb-6">
      <v-col>
        <div class="d-flex justify-space-between" style="margin-bottom: 15px; color: #fff">
          <button @click="sorted = sorted === 'ASC' ? 'DESC' : 'ASC'">
            Sort By last name
            <h3 style="display: inline-block">{{sorted === 'ASC' ? 'ASC' : 'DESC'}}</h3>
          </button>
        </div>
        <v-card elevation="5" tile v-for="client in sortedClient" :key="client.id" @click="handleOnClick(client)">
          <div class="card-con">
            <h1>
              <p class="text-h4 text--primary">{{ client.firstName }} {{ client.lastName }}</p>
            </h1>
            <h4>
              <a class="text-link">
                <i class="fa fa-map-marker"></i>
                {{ client.address.formattedAddress }}
              </a>
            </h4>
            <h4>
              <a :href="'mail:' + client.email">
                <i class="fa fa-envelope"></i>
                {{ client.email }}
              </a>
            </h4>
            <h4>
              <a :href="'tel:' + client.phone">
                <i class="fa fa-phone"></i>
                {{ client.phone }}
              </a>
            </h4>
          </div>
        </v-card>
      </v-col>
      <v-col>
        <GmapMap
          ref="mapRef"
          :center="{ lat: 22.5541424, lng: 88.3491654 }"
          :zoom="15"
          map-type-id="terrain"
          class="w-100 g-map"
        >
          <gmap-custom-marker
            v-for="(client, i) in clients"
            :key="client.id"
            :marker="client.address"
            @click.native.stop="openInfoWindowTemplate(i)"
          >
            <img
              v-if="client.id === activeMarkerId"
              src="../assets/marker_blue.png"
            />
            <img v-else src="../assets/marker_red.png" />
          </gmap-custom-marker>
          <gmap-info-window
            :options="{
              maxWidth: 300,
              pixelOffset: { width: 0, height: -35 },
            }"
            :position="infoWindow.position"
            :opened="infoWindow.open"
            @closeclick="infoWindow.open = false"
          >
            <div v-html="infoWindow.template"></div>
          </gmap-info-window>
        </GmapMap>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import faker from 'faker'
import GmapCustomMarker from 'vue2-gmap-custom-marker'

export default {
  name: 'Maps',
  components: {
    'gmap-custom-marker': GmapCustomMarker
  },
  data () {
    return {
      sorted: 'ASC',
      activeMarkerId: null,
      infoWindow: {
        position: { lat: 0, lng: 0 },
        open: false,
        template: ''
      },
      clients: [
        {
          id: 1,
          firstName: faker.name.firstName(),
          lastName: faker.name.lastName(),
          phone: faker.phone.phoneNumber('!##!######'),
          email: faker.internet.email(),
          address: {
            formattedAddress: 'National Musume',
            lat: 22.5579,
            lng: 88.35113
          }
        },
        {
          id: 2,
          firstName: faker.name.firstName(),
          lastName: faker.name.lastName(),
          phone: faker.phone.phoneNumber('!##!######'),
          email: faker.internet.email(),
          address: {
            formattedAddress: 'Victoria Memorial',
            lat: 22.546149,
            lng: 88.342245
          }
        },
        {
          id: 3,
          firstName: faker.name.firstName(),
          lastName: faker.name.lastName(),
          phone: faker.phone.phoneNumber('!##!######'),
          email: faker.internet.email(),
          address: {
            formattedAddress: 'Fort William',
            lat: 22.55522,
            lng: 88.33878
          }
        },
        {
          id: 4,
          firstName: faker.name.firstName(),
          lastName: faker.name.lastName(),
          phone: faker.phone.phoneNumber('!##!######'),
          email: faker.internet.email(),
          address: {
            formattedAddress: 'Birla Planetarium',
            lat: 22.54564,
            lng: 88.34774
          }
        }
      ],
      clientsToView: []
    }
  },
  computed: {
    sortedClient () {
      if (this.sorted === 'ASC') {
        return [...this.clients].sort((a, b) => {
          if (a.lastName < b.lastName) {
            return -1
          }
          if (a.lastName > b.lastName) {
            return 1
          }
          return 0
        })
      } else {
        return [...this.clients].sort((a, b) => {
          if (a.lastName > b.lastName) {
            return -1
          }
          if (a.lastName < b.lastName) {
            return 1
          }
          return 0
        })
      }
    }
  },
  methods: {
    handleOnClick (client) {
      this.activeMarkerId = client.id
      this.$refs.mapRef.$mapPromise.then((map) => {
        map.panTo(client.address)
      })
    },
    activeMarkerIcon (id) {
      if (id === this.activeMarkerId) return '../assets/marker_blue.png'
      return '../assets/marker_red.png'
    },
    openInfoWindowTemplate (index) {
      const {
        address: { lat, lng, formattedAddress },
        firstName,
        lastName,
        phone,
        email
      } = this.clients[index]
      this.infoWindow.position = { lat: lat, lng: lng }
      this.infoWindow.template = `
        <div style="font-size: 16px; text-align: left;">
          <p><b>Name:</b> ${firstName} ${lastName}</p>
          <p><b>Address:</b> ${formattedAddress}</p>
          <p><b>Phone:</b> ${phone}</p>
          <p><b>Email:</b> ${email}</p>
        </div>
      `
      this.infoWindow.open = true
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.g-map {
  height: 600px;
  min-height: calc(100vh - 36px);
}
.card-con {
  padding: 10px;
  text-align: left;
  margin-bottom: 15px;
}
.card-con h1 {
  margin-bottom: 10px;
  margin-left: 10px;
}
.card-con h4 {
  margin-bottom: 10px;
  margin-left: 10px;
}
.card-con a {
  text-decoration: none;
}
.bg-black {
  background-color: #111b27;
}
</style>
